- provide(:title, t('.title'))

.container-fluid
  .row
    %main.col-md-12.p-3{:role => "main"}
      .card.shadow.rounded-0
        .card-header.bg-primary.text-white.rounded-0
          %h5
            = link_to meter_xls_download_meter_reads_path, :class => "button button-border button-rounded button-royal pull-right bg-white" do
              下载计件表模板
            %button.button.button-caution.pull-right.mr-1{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"}
              上传excel
            = fa_icon "list", text: t(controller_name + "." + action_name + '.title')
            = link_to "/#{controller_name}/new", :class => "button button-border button-rounded button-primary pull-right bg-white mr-1" do
              = fa_icon "plus", text: Setting.systems.btn_new, right: false 
        .card-body
          .container-fluid.p-0
            .row
              .col-md-12
                %table#meter-read-table.text-center.table-bordered.table-sm.w-100
                  %thead.thead-light
                    %tr
                      %th{:scope => "col"} #
                    
                      %th{:scope => "col"}
                        = Setting.meter_reads.name
                      %th{:scope => "col"}
                        = Setting.meter_reads.cal_date
                      %th{:scope => "col"}
                        应抄/实抄
                      %th{:scope => "col"}
                        计件金额
                      %th{:scope => "col"}
                        抄见率 / 准确率 / 奖励
                      %th{:scope => "col"}
                        水量回收率 / 奖励
                      %th{:scope => "col"}
                  %tbody
                    - @meter_reads.each_with_index do |meter_read, index|
                      %tr
                        %td{:scope => "row"}
                          = index+1
                      
                        %td
                          = meter_read.name
                        %td
                          = meter_read.cal_date
                        %td
                          = meter_read.mst_mt_count
                          = "/"
                          = meter_read.act_mt_count
                        %td
                          = meter_read.total
                        %td
                          = meter_read.cj_rate
                          = "/"
                          = meter_read.acrt_rate
                          = "/"
                          = meter_read.acrt_mny
                        %td
                          = meter_read.rcy_rate
                          = "/"
                          = meter_read.rcy_mny
                        %td
                          .container-fluid
                            .row
                              = link_to meter_read_path(meter_read), :class => "text-info col" do
                                = fa_icon "search"
                              = link_to edit_meter_read_path(meter_read), :class => "text-success col" do
                                = fa_icon "edit"
                              = link_to meter_read, :method => :delete, :data => {:confirm => "确定删除吗?"}, :class => "text-danger col" do
                                = fa_icon "trash"

#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title 计件表上传 
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} x 
      .modal-body
        = form_tag "/meter_reads/parse_excel", multipart: true do
          .form-group.row
            = label_tag "日期", nil, :class => "col-4 text-right col-form-label col-form-label"
            .col-8
              = text_field_tag "date", nil, :class => "form-control"
          .form-group.row
            = label_tag "计件表", nil, :class => "col-4 text-right col-form-label col-form-label"
            .col-8
              = file_field_tag "excel_file" 
          .form-group.row
            .col-8
              = submit_tag '保存', :class => "btn btn-primary" 
