- provide(:title, t('.title'))

- content_for :main_body do
  .container-fluid
    .row
      .col-md-12
        %table.table.text-center.table-bordered
          %thead
            %tr
            
              %th 
                = Setting.manages.title
              %th 
                = Setting.manages.content
              %th
          %tbody
            %tr
            
              %td
                = @manage.title
              %td
                = @manage.content
              %td
                = link_to 'è¿”å›', manages_path, :class => "btn btn-danger"
    

= render "layouts/control_panel"
