- provide(:title, t('.title'))


- content_for :sidebar_body do
  - @labs.each do |lab|
    = link_to lab.title, lab_path(lab), :class => "list-group-item text-dark"
  = link_to Setting.members.tag, members_path, :class => "list-group-item text-dark"

- content_for :content_body do
  .container-fluid.px-0
    .row
      - @members.each_with_index do |member, index|
        .col-md-4
          = link_to member_path(member) do
            .card.mb-4.box-shadow.rounded-0
              = image_tag "/" + member.photo, :class => "card-img-top rounded-0"
              .card-body.card-text.p-1.text-secondary
                %p.mb-0
                  = member.name
                %p.mb-0
                  = member.email

= render "layouts/control_panel"
